.pio
.\TempRatorLm35_7Segmaent\TempRatorLm35_7Segmaent\__Previews
.\TempRatorLm35_7Segmaent\TempRatorLm35_7Segmaent\History
.\TempRatorLm35_7Segmaent\TempRatorLm35_7Segmaent\Project Logs for TempRatorLm35_7Segmaent